<div class="videos-wrapper" *ngIf="!isLoading">
  <div class="video" 
    *ngFor="let video of videos"
    appHighLight color="gray">

    <mat-card class="example-card">
      <a [href]="video.videoUrl" target="blank">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Leonardo D'Antoni</mat-card-title>
          <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="video.imageUrl" [alt]="video.name">
        <mat-card-content> 
          <div class="title">{{video.name}}</div>
          <p>
            {{video.description}}
          </p>
        </mat-card-content>
      </a>
      <mat-card-actions class="actions">
        <button mat-fab color="primary">
          <a [routerLink]="['/modify', video._id]">
            <mat-icon>edit</mat-icon>
          </a>
        </button>

        <button mat-fab color="warn" (click)="deleteVideo(video._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="isLoading">
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>

<div *ngIf="messageError">
  {{messageError}}
</div>
