<div class="wrapper">

  <div *ngIf="isLoading">Loading...</div>

  <ng-container *ngIf="!isLoading">
    <div class="app-filter">
      <select [formControl]="categoryControl" (change)="onFilterChange($event.target)">
        <option value="all">All</option>
        <option *ngFor="let category of bookCategories" [value]="category.code">{{category.display}}</option>
      </select>
    </div>

    <ng-container *ngIf="!isBooksLoading">
      <app-book *ngFor="let book of bookList"
        [book]="book"
        (addBookToCartEvent)="addBookToCart($event)">
      </app-book>
    </ng-container>


  </ng-container>

  <!-- <app-book></app-book>
  <app-book></app-book>
  <app-book></app-book>
  <app-book></app-book>
  <app-book></app-book> -->
</div>
