.videos-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.video {
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    max-width: 200px;
    margin-right: 10px;
    margin-top: 10px;
}

.video img {
    max-width: 200px;
}

.video .title,
.video .description {
    text-align: center;
    color: black;
    word-break: break-all;
}

.video .title {
    font-weight: 600;
}