<div class="wrapper">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="field">
      <input type="text" placeholder="Id" formControlName="id"/>
      <div class="error" *ngIf="id.touched && !id.valid">
        <div *ngIf="id.errors.required">Id is required</div>
      </div>
    </div>

    <div class="field">
      <input type="text" placeholder="Title*" formControlName="title"/>
      <div class="error" *ngIf="title.touched && !title.valid">
        <div *ngIf="title.errors.required">Title is required</div>
      </div>
    </div>

    <div class="field">
      <input type="text" placeholder="ISBN*" formControlName="isbn"/>
      <div class="error" *ngIf="isbn.touched && !isbn.valid">
        <div *ngIf="isbn.errors.required">ISBN is required</div>
        <div *ngIf="isbn.errors.pattern">ISBN is invalid</div>
      </div>
    </div>

    <div class="field">
      <input type="text" placeholder="Author*" formControlName="author"/>
      <div class="error" *ngIf="author.touched && !author.valid">
        <div *ngIf="author.errors.required">Author is required</div>
        <div *ngIf="author.errors.author">Author is invalid</div>
      </div>
    </div>

    <div class="field">
      <input type="number" placeholder="Stock*" formControlName="stock"/>
      <div class="error" *ngIf="stock.touched && !stock.valid">
        <div *ngIf="stock.errors.required">Stock is required</div>
        <div *ngIf="stock.errors.pattern">Stock is invalid</div>
        <div *ngIf="stock.errors.min">Negative numbers not allowed</div>
      </div>
    </div>

    <div class="field">
      <input type="number" placeholder="Price*" formControlName="price"/>
      <div class="error" *ngIf="price.touched && !price.valid">
        <div *ngIf="price.errors.required">Stock is required</div>
        <div *ngIf="price.errors.pattern">Stock is invalid</div>
        <div *ngIf="price.errors.min">Negative numbers not allowed</div>
      </div>
    </div>

    <div class="field">
      Categories:
      <div *ngFor="let category of categoryList">
        <input
          type="checkbox"
          id="cat-{{category.value}}"
          name="cat-{{category.value}}"
          [value]="category.value"
          [checked]="category.checked"
          (change)="onCategoryChange(category)">
        <label for="cat-{{category.value}}">{{category.display}}</label>
      </div>
    </div>

    <div class="field">
      <input type="text" placeholder="Cover Image Url*" formControlName="cover"/>
      <div class="error" *ngIf="cover.touched && !cover.valid">
        <div *ngIf="cover.errors.required">Cover image url is required</div>
        <div *ngIf="cover.errors.imageUrlInvalid">Cover image url is invalid</div>
      </div>
      <img *ngIf="cover.valid" [src]="cover.value"/>
    </div>

    <input type="submit" value="Create" [disabled]="!formGroup.valid"/>
  </form>

</div>

