.wrapper,
form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.field {
  margin-bottom: 1em;
}

input[type="text"],
input[type="number"] {
  border: .1em solid gray;
  padding: 1.225em 1.725em;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 100%;
}

input[type="text"].ng-touched.ng-invalid:not(:focus),
input[type="number"].ng-touched.ng-invalid:not(:focus) {
  border: 0.1em solid red;
  color: red;
}

input + .error {
  margin-top: .2em;
}

.error,
.error::before {
  color: red;
}

input + .error div::before {
  content: '*';
  padding: 0 .1em;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: .2em solid #06eaf3;
  padding: 1.125em 1.625em;
  outline: none;
}

input[type="text"] + img,
input[type="number"] + img  {
  margin: 1em auto 0;
  width: 50%;
  display: block;
}

input[type="submit"],
input[type="button"] {
  color: #0ce682;
  border: .7em solid #0ce682;
  transition: all 0.3s;
  text-transform: uppercase;
  padding: 0 1.6em;
  margin: 1em 0;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  line-height: 3.2857em;
}

input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled) {
  background-color: #0ce682;
  color: white;
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
}
