<p appHighLight>app works!</p>

<a class="link" routerLinkActive="active-link" routerLink="data-binding">Data Binding</a>
<a class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="book-list">Book List</a>
<a class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['book-list', 'art-photo']">Art & Photography books</a>
<!-- for autoscrolling, anchorScrolling router option should be enabled -->
<a class="link" routerLinkActive="active-link" routerLink="forms" fragment="reactive">Reactive Forms</a>
<a class="link" routerLinkActive="active-link" routerLink="forms" [queryParams]="{test: '1234sss'}">Forms with query params</a>

<router-outlet></router-outlet>

<app-button></app-button>
