<h2>Load Video</h2>
<form [formGroup]="loadVideoFG">
  Name: <input type="text" class="input" formControlName="name">
  <span *ngIf="name.touched && name.invalid">Name is invalid</span>
  <br>
  Image URL: <input type="text" class="input" formControlName="imageUrl">
  <span *ngIf="imageUrl.touched && imageUrl.invalid">Image url is invalid</span>
  <br>
  Video URL: <input type="text" class="input" formControlName="videoUrl">
  <span *ngIf="videoUrl.touched && videoUrl.invalid">Video url is invalid</span>
  <br>
  Description: <textarea class="input" formControlName="description"></textarea>
  <br>
  <button (click)="saveVideo()" [disabled]="loadVideoFG.invalid">Save Video</button>
  <br>
  <button (click)="updateVideo()" [disabled]="loadVideoFG.invalid">Update Video</button>
  <br>
  <button (click)="deleteVideo()" [disabled]="name.invalid">Delete Video</button>
</form>
