<h2>Load Video</h2>
<form [formGroup]="loadVideoFG" *ngIf="!isLoading">
  Video Id: {{videoId}}
  <br>
  <mat-form-field>
    <input type="text" matInput class="input" formControlName="name" placeholder="Name">
    <mat-error *ngIf="name.touched && name.invalid">Name is invalid</mat-error>
  </mat-form-field>
  
  <br>
  <mat-form-field>
    <input type="text" matInput class="input" formControlName="imageUrl" placeholder="Image URL">
    <mat-error *ngIf="imageUrl.touched && imageUrl.invalid">Image url is invalid</mat-error>
  </mat-form-field>

  <br>
  <mat-form-field>
    <input type="text" matInput class="input" formControlName="videoUrl" placeholder="Video URL">
    <mat-error *ngIf="videoUrl.touched && videoUrl.invalid">Image url is invalid</mat-error>
  </mat-form-field>

  <br>
  <mat-form-field>
    <textarea class="input" matInput formControlName="description" placeholder="Description"></textarea>
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="saveVideo()" [disabled]="loadVideoFG.invalid || videoId">Save Video</button>
  <br>
  <button mat-raised-button color="primary" (click)="updateVideo()" [disabled]="loadVideoFG.invalid || !videoId">Update Video</button>
  <br>
  <button mat-raised-button color="warn" (click)="deleteVideo()" [disabled]="!videoId">Delete Video</button>
</form>

<div *ngIf="isLoading">
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
