<h2>Template-Driven Form</h2>

<!-- Sending the form value is optional if we are using model binding (myModel) -->
<form #myForm="ngForm" (submit)="onSubmit(myForm.value)">
  Name: <input type="text" ngModel name="firstName" required #firstName="ngModel"/>
  <span *ngIf="!firstName.valid && firstName.touched">Name invalid</span>
  <br>
  Last Name: <input type="text" ngModel name="lastName" required #lastName="ngModel"/>
  <span *ngIf="!lastName.valid && lastName.touched">Last Name invalid</span>
  <br>
  Email: <input type="email" ngModel name="email" email required #email="ngModel"/>
  <!-- Two way data binding -->
  <span *ngIf="!email.valid && email.touched && email.errors?.['email']">Email Invalid</span>
  <span *ngIf="!email.valid && email.touched && email.errors?.['required']">Email is empty</span>
  <br>
  Comment: <input type="text" [(ngModel)]="myModel.comment" name="comment"/>
  <br>

  <label for="country">Country</label>
  <select [(ngModel)]="myModel.countryCode" name="country" id="country" required>
    <option *ngFor="let country of countries" [value]="country.code">
      {{country.name}}
    </option>
  </select>
  <br>

  <!-- min directive is not supported for Template-Driven -->
  Age: <input type="number" [(ngModel)]="myModel.age" name="age" #age="ngModel" required />
  <br>

  Gender:
  <input type="radio" value="male" [(ngModel)]="myModel.gender" name="gender" required> Male
  <input type="radio" value="female" [(ngModel)]="myModel.gender" name="gender" required> Female
  <br>

  Terms & Conditions: <input type="checkbox" [(ngModel)]="myModel.tc" name="tc" #tc="ngModel" required>
  <div *ngIf="tc.touched && !tc.valid && tc.errors?.['required']">Terms & Conditions should be accepted</div>


  <br>
  <button type="submit" [disabled]="!myForm.valid">Send</button>
</form>
