App Component

<a class="link" routerLinkActive="active-link" routerLink="forms">Forms</a>
<a class="link" routerLinkActive="active-link" routerLink="data-binding">Data Binding</a>
<a class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="book-list">Book List</a> <!-- different route, re-mount -->
<a class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['book-list', 'art-photo']">Art & Photography books</a> <!--use the same component, no re-mount -->
<a class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['book-list', 'bio']">Biography books</a> <!--use the same component, no re-mount -->
<a class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="book-list" [queryParams]="{test: '1234sss'}">Book List with query params</a>
<!-- for autoscrolling, anchorScrolling router option should be enabled -->
<a class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="data-binding" fragment="fragment">Data biding with fragment</a>

<router-outlet></router-outlet>
