<h2>Reactive Form</h2>
<form [formGroup]="formGroup" (submit)="onSubmit()">
  Name: <input type="text" formControlName="firstName" />

  <div *ngIf="firstName.touched && !firstName.valid">
    <div *ngIf="firstName.errors.required">Name is required</div>
    <div *ngIf="firstName.errors.minlength">Name should have 4 characters minimum</div>
  </div>
  <br>

  Lastname: <input type="text" formControlName="lastName" />
  <br>

  Email: <input type="email" formControlName="email" />
  <br>
  
  Phone Number: <input type="text" formControlName="phoneNumber" />
  <div *ngIf="phoneNumber.touched && !phoneNumber.valid && phoneNumber.errors.phoneNumber">Invalid phone number</div>
  <br>

  Id: <input type="text" formControlName="id" />
  <div *ngIf="id.touched && !id.valid && id.errors.idInvalid">Invalid id</div>
  <br>

  Comment: <input type="text" formControlName="id" />
  <div *ngIf="id.touched && !id.valid && id.errors.idInvalid">Invalid id</div>
  <br>

  <button type="submit" [disabled]="!formGroup.valid">Send</button>
</form>
