<div class="videos-wrapper" *ngIf="!isLoading">
  <a class="video" 
    *ngFor="let video of videos"
    [href]="video.videoUrl"
    target="blank"
    appHighLight color="gray">

    <div class="content">
      <img [src]="video.imageUrl" [alt]="video.name">
      <div class="title">{{video.name}}</div>
      <div class="description">{{video.description}}</div>
    </div>
    
    <div class="actions">
      <a href="#" [routerLink]="['modify' , video._id]">Edit</a>
      <a href="#">Delete</a>
    </div>
  </a>
</div>

<div *ngIf="isLoading">
  LOADING...
</div>

<div *ngIf="messageError">
  {{messageError}}
</div>
